.form {
    color: #F2D46A;
}
.field {
    margin: 0 0 15px 0;
    max-width: 280px;
    display: flex;
    justify-content: space-between;
}
.form button {
    font-size: 18px;
    color: #F2D46A;
    background: #3C3F41;
    border: none;
    padding: 10px;
}
.captcha div {
    max-width: 175px;
    line-height: 30px;
}.captcha img {
    max-width: 100%;
    margin: 20px 0;
}