.header {
    background: #05ACFF;
}
.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    color: #fff;
    font-weight: 600;
}
.logo {
    max-width: 35px;
}
.login {
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.logout {
    margin: 0 0 0 10px;
    padding: 2px 5px;
    background: #fff;
    color: red;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}