.page {
    margin: 0 5px;
    cursor: pointer;
    color: #7FFF00;
    text-decoration: none;
}

.page.active {
    font-weight: 700;
    color: #BCFF7A;
}
.pages {
    display: flex;
    overflow: auto;
    margin: 15px 0 30px 0;
    max-width: 300px;
}