.sidebar {
    background: #0378B2;
    flex: 0 1 150px;
    min-height: 400px;
    padding: 15px;
    border-right: 4px groove #00AFB2;
}
.text {
    color: #fff;
    font-size: 20px;
    margin: 0 0 15px 0;
    position: relative;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.text:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 4px;
    background: #FF9600;
    transform: skew(-50deg);
    transition: all 0.5s ease 0s;
}
.text:hover:after {
    width: 100%;
}